<div class="show-movile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu-img">
    </button>

    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="shop-logo">
    </a>

    <a href="">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="shop-logo">
    </a>
  </div>

  <div class="side-menu" [class.active]="show_menu">
    <button (click)="toggleMenu()"> Close </button>
    <ul>
      <li> <a routerLink="/products"> Productos </a> </li>
      <li> <a routerLink="/contact"> Contacto </a> </li>
    </ul>
  </div>
</div>

<div class="hide-movile">
  <div>
    <nav>
      <a href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="shop-logo" routerLink="/home">
      </a>

      <ul>
        <li> <a routerLink="/products"> Productos </a> </li>
        <li> <a routerLink="/contact"> Contacto </a> </li>
      </ul>
    </nav>

    <div class="info">
      <div class="account"> blackfire@gmail.com </div>
      <div class="cart">
        <a href="">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="shop-logo">
        </a>
        <span class="counter"> {{counter}} </span>
      </div>
    </div>

  </div>
</div>
