<div class="show-movile">
  <div>
    <button>
      <img src="./assets/svg/icon_menu.svg" alt="menu-img">
    </button>

    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="shop-logo">
    </a>

    <a href="">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="shop-logo">
    </a>
  </div>
</div>

<div class="hide-movile">
  <div>
    <nav>
      <a href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="shop-logo">
      </a>

      <ul>
        <li> <a href=""> All </a> </li>
        <li> <a href=""> Some Wojaks </a> </li>
        <li> <a href=""> More Wojaks </a> </li>
      </ul>
    </nav>

    <div class="info">
      <div class="account"> blackfire@gmail.com </div>
      <a href="">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="shop-logo">
      </a>
    </div>

  </div>
</div>
